<div class="center jumbotron">

    <h1>Hot and Fresh Quotes</h1>


    <h3>
      This is an app where you can compare quotes
      to make the best investing decisions. Make lots of money.
    </h3>

  <p>
    <% if logged_in? %>
      <p align='center' id="welcome">Welcome, <%= current_user.first_name %></p>
    <% else %>
      <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </p>

</div><br>


<div class="quote-box">
 <ul>
      <% @quotes.each do |quote|  %>
      <li>
        <p><%= quote["1. symbol"] %></p> Last:
        <%= quote["2. price"] %>
      </li>
    <% end %>
 </ul>
</div>