<div class="center jumbotron">

    <h1>Welcome to the "You're Busted - DataFights"</h1>


    <h2>
      This is an app where you can compare quotes
      to make the best investing decisions. Make lots of money.
    </h2>
     <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>

</div><br>
