<div class="center jumbotron">

    <h1>Pick the Stock, Pick The Currency....but from where? - DataFights"</h1>


    <h3>
      This is an app where you can compare quotes
      to make the best investing decisions. Make lots of money.
    </h3>
     <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>

</div><br>


<div class="quotes">
 <p>
      <% @quotes.each do |quote|  %>
        <%= quote["1. symbol"] %> Last:
        <%= quote["2. price"] %> |
      <% end %>
 </p>
</div>