<div class="center jumbotron">

    <h1>Welcome to the "You're Busted - DataFights"</h1>


    <h2>
      This is the home page for the
      family members to make fun of each other
      and compare data usage.
    </h2>
     <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>

</div><br>
