<div class="quick-list">
 <form action="/watchlists" method="POST">
  <label for="stock">Add to watchlist</label>
   <input name="authenticity_token" type="hidden"
      value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
   <input type="submit"  value="Add">
 </form>
</div>